---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import TweetPost from '../components/TweetPost.astro';
//const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const allPosts = await getCollection("tweets");
const pageTitle = "Tweets";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Tweets from Freifunk</h2>
  <p>A list of tweets</p>
  <ul>
    {
      allPosts.map((post) => (
        <TweetPost url={`/tweets/${post.data.tweetID}/`} title={post.data.tweetID} />
      ))
    }
  </ul>

</BaseLayout>
