<aside>
    <form class="form">
        <div>
            <label for="search">Search Tweets</label>
            <span>Enter a search term of phrase to search tweets</span>
        </div>
        <input 
            type="search" 
            required 
            min = "2" 
            max="24" name="search" 
            id="search" 
            placeholder="Search tweets..." />
    </form>
</aside>   

<script>
    import DOMPurify from 'dompurify';
    const form = document.querySelector('.form') as HTMLFormElement | null;
    form?.addEventListener('submit', (e) => {
        e.preventDefault();
        if (form) {
            const formData = new FormData(form);
            //console.log(" form?.addEventlistener formData:", formData.get("search"));
            const searchTerm = DOMPurify.sanitize(formData.get("search") as string);
            console.log("Search term:", searchTerm);
            if (!searchTerm || searchTerm.length === 0) return;
            const url = new URL("/search", window.location.origin);
            url.searchParams.set("q", searchTerm);
            window.location.assign(url.toString());


            };
        }
    );

</script>
